.filter {
    mat-select {
        max-width: 250px;
        background: rgba(0,0,0,0.25);
        padding: 15px;
    }
}

.overflow-y {
    overflow-y: auto;
}

.application-table {
    width: 100%;

    .mat-chip {
        padding: 5px 10px;
        border-radius: 25px;
        text-transform: capitalize;
        margin: 5px;
        cursor: pointer;
    
        &.upvote {
            border: 2px solid #69BF64;
            background: rgba(0,0,0,0);
    
            &.active {
                background: #69BF64;
            }
        }
    
        &.downvote {
            border: 2px solid #ff6961;
            background: rgba(0,0,0,0);
    
            &.active {
                background: #ff6961;
            }
        }
    }
    

    .underage {
        color: red;
        font-weight: bold;
    }
}