
<div
class="p-gutter"
gdColumns="1fr"
gdGap="16px"
vexContainer
>

  <div class="profile">
    <h1>{{ user?.nickname || user?.username }} <span class="discord-id">Discord ID: {{ user?.userId }}</span></h1>

    <div class="roles">
      <mat-chip-list>
        <ng-container *ngFor="let role of user?.roles">
          <mat-chip *ngIf="!roles[role]?.roleName?.includes('⁣     ')">{{ roles[role]?.roleName }}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>

    <mat-tab-group>
      <mat-tab label="Voice Activity">
        <vex-voice-activity-table [userId]="user?.userId" *ngIf="user"></vex-voice-activity-table>
      </mat-tab>
      <mat-tab label="Message Activity"> Content 2 </mat-tab>
    </mat-tab-group>

    
  </div>

</div>
