
<div
class="p-gutter"
gdColumns="1fr"
gdGap="16px"
vexContainer
>

  <div class="profile">
    <vex-steam-profile [steamId]="user?.steamId"></vex-steam-profile>
    <img class="avatar" *ngIf="user?.userId && user?.avatar" [src]="'https://cdn.discordapp.com/avatars/' + user?.userId + '/' + user?.avatar + '.png'" />
    <img class="avatar" *ngIf="!user?.userId || !user?.avatar" src="http://placehold.it/250x250" />
    <h1>{{ user?.nickname || user?.username }} <span class="discord-id">{{ user?.nickname ? '(@' + user?.username + ')' : '' }} Discord ID: {{ user?.userId }}</span></h1>

    <div class="roles">
      <mat-chip-list>
        <ng-container *ngFor="let role of user?.roles">
          <mat-chip *ngIf="!roles[role]?.roleName?.includes('⁣     ')">{{ roles[role]?.roleName }}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>

    <vex-user-form [user]="user"></vex-user-form>

    <mat-tab-group>
      <mat-tab label="Voice Activity">
        <vex-widget-quick-line-chart
          [icon]="icGroup"
          [options]="voicePerDayOptions"
          [series]="voicePerDay"
          [color]="theme.colors.orange"
          gdColumn="span 2"
          gdColumn.lt-sm="1"
          label="Average Voice Time (past 7 days)"
          value="{{ voiceWeeklyAverage }}"
        ></vex-widget-quick-line-chart>
        <vex-voice-activity-table [userId]="user?.userId" *ngIf="user"></vex-voice-activity-table>
      </mat-tab>
      <mat-tab label="Message Activity">
        <vex-widget-quick-line-chart
          [icon]="icComment"
          [options]="messagesPerDayOptions"
          [series]="messagesPerDay"
          [color]="theme.colors.orange"
          gdColumn="span 2"
          gdColumn.lt-sm="1"
          label="Average Daily Messages (past 7 days)"
          value="{{ messagesWeeklyAverage }}"
        ></vex-widget-quick-line-chart>
      </mat-tab>
      <mat-tab label="User History">
        <ng-container *ngFor="let event of userHistory">
          <div class="history-event">
            <!-- Ignore all events that are the discord tag bot -->
            <mat-chip class="action">{{ event?.action }}</mat-chip>
            <mat-chip class="time" [matTooltip]="event?.createdAt | date:'short'" matTooltipPosition="right"> {{ event?.createdAt | timeago }}</mat-chip>

            <ng-container *ngIf="event?.action === 'submitted-application'">
              {{ user?.nickname || user?.username }} submitted a new <a [routerLink]="['/applications', event?.details?.id ]">application</a> to Fear and Terror.
            </ng-container>

            <ng-container *ngIf="event?.action === 'updated-application'">
              <ng-container *ngIf="event?.caller !== 'pam'">
                <a [routerLink]="['/user', event?.caller ]">{{ event?.callerName || event?.caller }}</a> updated {{ user?.nickname || user?.username }}'s <a [routerLink]="['/applications', event?.details?.id ]">application</a> to {{ event?.details?.status }}.
              </ng-container>
              <ng-container *ngIf="event?.caller === 'pam'">
                PAM updated {{ user?.nickname || user?.username }}'s <a [routerLink]="['/applications', event?.details?.id ]">application</a> to {{ event?.details?.status }}.
              </ng-container>
            </ng-container>
            

            <ng-container *ngIf="event?.action === 'update-user'">
              <a [routerLink]="['/user', event?.caller ]">{{ event?.callerName }}</a> updated {{ user?.nickname || user?.username }}'s account in PAM.
              <br /><br />
              <strong>Changes:</strong>
              <br />
              <ul>
                <li *ngFor="let key of objectKeys(event?.details)">
                  <strong>{{ key }}</strong> changed from <strong>{{ event?.details[key].old ? event?.details[key].old : 'null' }}</strong> to <strong>{{ event?.details[key].new }}</strong>
                </li>
              </ul>
            </ng-container>

            <ng-container *ngIf="event?.action === 'add-role'">
              <ng-container *ngIf="event?.caller !== '578645276189786122'">
                <a [routerLink]="['/user', event?.caller ]">{{ event?.callerName }}</a> added <mat-chip>{{ event?.details[0]?.name }}</mat-chip> to {{ user?.nickname || user?.username }}.
              </ng-container>
              <ng-container *ngIf="event?.caller === '578645276189786122'">
                A Bot added <mat-chip>{{ event?.details[0]?.name }}</mat-chip> to {{ user?.nickname || user?.username }}.
              </ng-container>
            </ng-container>

            <ng-container *ngIf="event?.action === 'remove-role'">
              <ng-container *ngIf="event?.caller !== '578645276189786122'">
                <a [routerLink]="['/user', event?.caller ]">{{ event?.callerName }}</a> removed <mat-chip>{{ event?.details[0]?.name }}</mat-chip> from {{ user?.nickname || user?.username }}.
              </ng-container>
              <ng-container *ngIf="event?.caller === '578645276189786122'">
                A Bot removed <mat-chip>{{ event?.details[0]?.name }}</mat-chip> from {{ user?.nickname || user?.username }}.
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Staff Notes">
        <h1>User Notes here</h1>
      </mat-tab>
      <mat-tab label="Applications">
        <div
          class="p-gutter"
          gdColumns="1fr"
          vexContainer
        >
          <table mat-table [dataSource]="applications" class="application-table">
        
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Name Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip color="primary" selected>{{ element?.status }}</mat-chip>
              </td>
            </ng-container>
        
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{ element?.username }} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> Age </th>
              <td mat-cell *matCellDef="let element"> {{ element?.age | number }} </td>
              <!-- [ngClass]="{ 'underage': (element?.age | number) < 18}" -->
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="upvotes">
              <th mat-header-cell *matHeaderCellDef> Upvotes </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip class="upvote">{{ element?.upvotes | number }}</mat-chip>
              </td>
            </ng-container>
        
            <!-- Profile Column -->
            <ng-container matColumnDef="downvotes">
              <th mat-header-cell *matHeaderCellDef> Downvotes </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip class="downvote">{{ element?.downvotes }}</mat-chip>
              </td>
            </ng-container>
        
            <!-- Profile Column -->
            <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef> Submitted </th>
              <td mat-cell *matCellDef="let element"> {{ element?.createdAt | date:'short' }} </td>
            </ng-container>
        
            <!-- Profile Column -->
            <ng-container matColumnDef="updated">
              <th mat-header-cell *matHeaderCellDef> Last Updated </th>
              <td mat-cell *matCellDef="let element"> {{ element?.updatedAt | timeago }} </td>
            </ng-container>
        
            <!-- View Column -->
            <ng-container matColumnDef="expand">
              <th mat-header-cell *matHeaderCellDef> View </th>
              <td mat-cell *matCellDef="let element">
                <a [routerLink]="['/applications', element?.id ]">
                  <button color="primary" mat-button type="button">View Application</button>
                </a>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="count" [pageSize]="limit" (page)="pageChange($event)" [disabled]="pendingLoad"></mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>

    
  </div>

</div>
