.mat-chip {
    font-size: 10px;
    padding: 3px 8px;
    min-height: 20px;
}

.discord-id {
    font-size: 12px;
    color: grey;
}

.mat-tab-group {
    margin-top: 25px;
}

.application-table {
    width: 100%;

    .mat-chip {
        padding: 5px 10px;
        border-radius: 25px;
        text-transform: capitalize;

        &.upvote {
            background: #69BF64;
        }

        &.downvote {
            background: #ff6961;
        }
    }

    .underage {
        color: red;
        font-weight: bold;
    }
}

.profile {
    .avatar {
        float: left;
        width: 8em;
        height: 8em;
        border-radius: 8em;
        margin: 0 20px 20px 0;
    }
}

.history-event {
    width: calc(100% - 20px);
    margin: 15px 10px;
    background: rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 10px;

    .mat-chip {
        padding: 5px 10px;
        border-radius: 25px;
        text-transform: capitalize;

        &.action {
            background: #5c77ff;
            padding: 15px 10px;
            font-size: 16px;
            font-weight: 300;
            margin: 0 25px 0 0;
        }

        &.time {
            float: right;
        }
    }

    a {
        text-decoration: underline;
        font-weight: bold;
    }
}



.add-note, .staff-note {
    width: calc(100% - 20px);
    margin: 15px 10px;
    background: rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 10px;

    .mat-form-field {
        width: calc(100% - 200px);
    }

    .mat-raised-button {
        width: 150px;
        margin: 25px;
    }

    .mat-chip {
        padding: 5px 10px;
        border-radius: 25px;
        text-transform: capitalize;

        &.action {
            background: #5c77ff;
            padding: 15px 10px;
            font-size: 16px;
            font-weight: 300;
            margin: 0 25px 0 0;
        }

        &.time {
            float: right;
        }
    }
}