<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Analytics']" class="flex-auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>

<div
  class="p-gutter"
  gdColumns="1fr 1fr 1fr 1fr"
  gdColumns.lt-md="1fr 1fr"
  gdColumns.lt-sm="1fr"
  gdGap="16px"
  vexContainer
>
  <!-- <vex-widget-assistant gdColumn="1 / 3" gdColumn.lt-md="1 / -1" gdColumn.lt-sm="1"></vex-widget-assistant> -->

      <!-- <vex-widget-table
        [columns]="tableColumns"
        [data]="tableData"
        class="w-full overflow-auto shadow" gdColumn="3 / -1"
        gdColumn.lt-md="1 / -1"
        gdColumn.lt-sm="1"
      ></vex-widget-table> -->

  <vex-widget-quick-value-center
    [change]="userIncreasePercentage"
    [icon]="icGroup"
    [color]="theme.colors.primary"
    gdColumn.lt-sm="1"
    label="Users"
    helpText="Percent is change over last 7 days"
    [value]="userCount"
  ></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
    [change]="messageIncreasePercentage"
    [icon]="icComment"
    [color]="theme.colors.orange"
    gdColumn.lt-sm="1"
    label="Messages"
    helpText="Percentage is change over the last 7 days"
    [value]="totalMessageCount"
  ></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
    [change]="0"
    [icon]="icVideoGame"
    [color]="theme.colors['deep-orange']"
    gdColumn.lt-sm="1"
    helpText="Explain something"
    label="Squad Events"
    [value]="totalSquadEvents"
  ></vex-widget-quick-value-center>
  <vex-widget-quick-value-center
    [change]="0"
    [icon]="icTimer"
    [color]="theme.colors.teal"
    gdColumn.lt-sm="1"
    label="Average Voice Duration"
    helpText="Percentage is currently not used"
    value="{{ averageVoice?.displayString }}"
  ></vex-widget-quick-value-center>

  <vex-widget-quick-line-chart
    [icon]="icGroup"
    [options]="discordUsersJoinedOptions"
    [series]="discordUsersJoined"
    [color]="theme.colors.primary"
    gdColumn="span 2"
    gdColumn.lt-sm="1"
    label="New Discord users (Past 7 days)"
    value="{{ discordUsersJoinedTotal }}"
  ></vex-widget-quick-line-chart>

  <vex-widget-quick-line-chart
    [icon]="icComment"
    [options]="messagesPerDayOptions"
    [series]="messagesPerDay"
    [color]="theme.colors.orange"
    gdColumn="span 2"
    gdColumn.lt-sm="1"
    label="Discord Messages (Past 7 days)"
    value="{{ discordUsersJoinedTotal }}"
  ></vex-widget-quick-line-chart>

  <!-- <vex-widget-quick-line-chart
    [icon]="icPageView"
    [series]="pageViewsSeries"
    [color]="theme.colors.primary"
    gdColumn.lt-sm="1"
    label="Page Views"
    value="92.4k"
  ></vex-widget-quick-line-chart> -->

  <!-- <vex-widget-large-chart
    [series]="userSessionsSeries"
    gdColumn="1 / 3"
    gdColumn.lt-md="1 / -1"
    gdColumn.lt-sm="1"
  ></vex-widget-large-chart>

  <vex-widget-large-chart
    [series]="userSessionsSeries"
    gdColumn="3 / 5"
    gdColumn.lt-md="1 / -1"
    gdColumn.lt-sm="1"
  ></vex-widget-large-chart> -->

  <!-- <vex-widget-large-goal-chart
    [series]="salesSeries"
    gdColumn="1 / -1"
    gdColumn.lt-sm="1"
    total="4,374"
  ></vex-widget-large-goal-chart> -->

  <vex-channel-message-graph
    [channels]="channels"
    gdColumn="1 / -1"
    gdColumn.lt-sm="1"
  ></vex-channel-message-graph>

</div>
