<div class="navigation" fxLayout="row" fxLayoutAlign="space-between center" vexContainer>
  <div fxLayout="row" fxLayoutAlign="start center" vexContainer>
    <vex-navigation-item *ngFor="let item of items" [item]="item"></vex-navigation-item>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="outline" class="search" fxFlex="auto">
      <mat-label>Search&hellip;</mat-label>
      <input #input matInput (keyup.enter)="handleSearch()">
    </mat-form-field>
    <mat-icon [icIcon]="icSearch" (click)="handleSearch()"></mat-icon>
  </div>
</div>

