<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo-icon.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Welcome back</h2>
    </div>

    <div class="p-6 text-center">
      <p *ngIf="error" class="text-red-500">{{ error }}<br/><br/><br/></p>
      <ng-container *ngIf="!code || error">
        <button (click)="login()" color="primary" mat-raised-button type="button">
          Discord Login
        </button>
      </ng-container>
      <ng-container *ngIf="code">
        <img *ngIf="!error" src="assets/img/25.gif" width="64" height="64" style="margin: 0 auto;" />
      </ng-container>
    </div>
  </div>
</div>
